<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Document</title>
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'proj_r/images/logo.png' %}" type="image/x-icon">
    {% block css %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-light bg-danger" style="position: sticky; top: 0; z-index: 1;">
        <div class="container-fluid">
          <a class="navbar-brand mb-0 h1" style="font-family: 'Montserrat', sans-serif;">
            <img src="{% static 'proj_r/images/logo.png' %}" style="height: 5.5rem;">
            <img src="{% static 'proj_r/images/logotext.png' %}" alt="logo2"b style="height: 3rem;">
            <h1 style="display: inline-block;font-size: 1.5rem;vertical-align: bottom;">
              Tv Network
            </h1>
          </a>
          <div class="h4" style="display:none;" id="total_outer">Total = <div id="total_block" style="display: inline-block;"></div></div>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark" type="submit">Search</button>
          </form>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    {% block js %}
    {% endblock %}
</body>
</html>